<!DOCTYPE html>
<html>
  <head>
    <title>Rk2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="container">
      <p>Китаев Тагир Адипович, ИУ6-35Б</p>
      <p>Билет 8</p>
      <p>Задание: Дан массив чисел arr_h. Найти частное от деления количества отрицательных элементов на количество положительных. Вставить его перед первым положительным элементом массива или в конец, если положительных нет.</p>
      <p>Дополнительное условие 1: если нет положительных чисел, то частное будет равно 0.</p>
      <p>Дополнительное условие 2: точки и минусы без чисел заменяются на нули</p>
      <hr/>
    </header>

    <main class="container">
      <% if flash[:notice].present? %>
        <strong><%= flash[:notice] %></strong>
      <% end %>

      <%= yield %>
    </main>

    <footer></footer>
  </body>
</html>
